{{ template "base" . }}

{{ define "title" }}
    GoMonster - Nosotros
{{ end }}

{{ define "content" }}
    <h2>Acerca de</h2>
    <p>GoMonster es un juego de piedra, papel o tijera con temática de monstruos. El juego fue desarrollado por estudiantes de la Universidad de Costa Rica para el curso de Programación Web.</p>
    <p>El juego fue desarrollado utilizando el lenguaje de programación Go y el framework web Echo.</p>
    <p>El código fuente del juego se encuentra disponible en <a href="
{{ end }}