{{ define "base" }}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ template "title" . }}</title>
</head>
<body>

    <header>
        <h1> {{template "title" .}} </h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/new">Nuevo Juego</a></li>
            <li><a href="/game">Juego</a></li>
            
            <li><a href="/about">Acerca de</a></li>
        </ul>
    </nav>

    <main>
        {{ template "content" . }}
    </main>

    <footer>
        <p>GoMonster by SNava &copy; 2020</p>
    </footer>

</body>
</html>
{{ end }}