{{ template "base" . }}

{{ define "title" }}
    Jugar  -> GoMonster
{{ end }}

{{ define "content" }}
    <section>
        <div class="container">
            <div class="row">
                <div class="col py-5 text-center">
                    <h2>{{ .Name }}</h2>
                    <p id="player_score">0</p>
                    <div class="opciones-u">
                        <button onclick="choose(0)" class="boton-green">
                            <img src="static/img/monster.png" alt="monster" width="50">
                            <span>Fuego</span>
                        </button>
                        <button onclick="choose(1)" class="boton-green">
                            <img src="static/img/monster.png" alt="monster" width="50">
                            <span>Agua</span>
                        </button>
                        <button onclick="choose(2)" class="boton-green">
                            <img src="static/img/monster.png" alt="monster" width="50">
                            <span>Pasto</span>
                        </button>
                    </div>
                </div>
                <div>
                    <h2>Computadora</h2>
                    <p id="computer_score">0</p>
                    <div>
                        <div>
                            <img id="img_computer" src="static/img/reload_icon.png" alt="reload" width="200">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div>
            <div>
                <h2>Resultado</h2>
                <ul>
                    <li id="player_choise">El usuario elgio al Moustro de Agua</li>
                    <li id="computer_choise">La computadora elgio al Moustro de Fuego</li>
                    <li id="round_result">El usuario gano !!!</li>
                    <li id="round_message">Felicidades</li>
                </ul>
            </div>
            <div>
                <div>
                    <a class="boton-game" href="/new">Nuevo juego</a>
                </div>
            </div>
        </div>
    </section>
{{ end }}