{{ template "base" . }}

{{ define "title" }}
    GoMonster
{{ end }}

{{ define "content" }}
    <section>
        <div>
            <div>
                <h2>Ingrese su Nombre</h2>

                <form action="/game" method="post">
                    <div>
                        <input type="text" name="name" id="name" placeholder="Ingrese su nombre" required class="">
                    </div>
                    <div>
                        <input type="submit" class="boton-game" value="Empezar a Jugar">
                    </div>
                </form>
            </div>
        </div>
    </section>
{{ end }}