:root {
    /* Colors */
    --color-primary: #4d98b5;
    --color-secondary: #304f5c;
    --color-tertiary: #26263c;
    --color-quaternary: #262221;
    --color-botton: #e3615d;
    --color-white: #eee;
    --color-black: #111;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
}

h1 {
    margin: 0;
    font-size: 5rem;
    font-weight: bold;
    color: var(--color-white);
}

.header-monster {
    background: var(--color-primary);
    display: flex;
    align-items: center;
    padding: 1.3rem .5rem;
    gap: 3rem;
}

.container-logo {
    background: var(--color-tertiary);
    border: .3rem solid var(--color-white);
    border-radius: 50%;
    overflow: hidden;
    height: 10rem;
    width: 10rem;
}

.container-logo img {
    width: 90%;
    height: 90%;
    margin-top: .8rem;
}

.navegation {
    background: var(--color-tertiary);
}

.navegation ul{
    margin: 0;
    display: flex;
    gap: 2.5rem;
    list-style: none;

}

.navegation a{
    text-decoration: none;
    color: var(--color-white);
    font-size: 2rem;
}

.navegation a:hover{
    color: var(--color-botton);
}

main{
    background: var(--color-secondary);
    color: var(--color-white);
}

.seccion-container h2{
    margin: 0;
    text-align: center;
    font-size: 2.5rem;
}

.monsters-a{
    display: flex;
    justify-content: space-evenly;
}

.monster-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-tertiary);
    border: .3rem solid var(--color-white);
    border-radius: 1rem;
    height: 45rem;
    width: 35rem;
    overflow: hidden;
    margin: 2rem 0;
    padding: 1rem;
}

.monster-card picture{
    width: 90%;
    height: 90%;
}

.monster-card picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.monster-card h3{
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

.seccion-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion-game p {
    font-size: 2rem;
    text-align: center;
}

.boton-game{
    background: var(--color-white);
    color: var(--color-black);
    text-decoration: none;
    font-size: 2.5rem;
    padding: .7rem;
    border: .4rem solid var(--color-black);
    border-radius: .5rem;
}

.boton-game:hover{
    background: var(--color-botton);
    color: var(--color-white);
}

.footer{
    background: var(--color-quaternary);
    color: var(--color-white);
    padding: 1.3rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
